* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* utility rules */


.fl {
  float: left;
}
.color-white {
  color: #ffffff;
}
.color-grey {
  color: #cccccc;
}
.bg-color-white {
  background-color: #ffffff;
}
.bg-color-black{
  background-color: #000000;
}
.bg-lightblack{
  background-color: #0f0e0e;
}
.bg-color-dimgrey{
  background-color: #141922;
}
.bg-color-grey {
  background-color: #282828;
}

.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.px-15{
  padding-left:15px;
  padding-right: 15px;
}
.py-15 {
 padding-top: 15px;
 padding-bottom: 15px;
}
.mx-15{
  margin-left:15px;
  margin-right: 15px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-t{
  margin-top: 10px;
}
.margin-r-15{
  margin-right: 15px;
}
.margin-r-30{
  margin-right: 30px;
}
/* end utility rules */

.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  background-color: #000000;

}
.main-content{
  height: calc(100% - 90px);
  overflow: hidden;
}
.sidebar {
  width: 20%;
  height: 100%;
  flex-direction: column;
  z-index:2;

}
.sidebar-option{
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;

}
.sidebar_options * {
  color: white;
}
.sidebar-options img.logo{
  width: 100px;
  margin-bottom: 25px;
  cursor: pointer;
}

.main-functionalities, .playlist {
  padding:0;
}
.sidebar-options .main-functionalities li {
  font-size: 15px;
  list-style-type: none;
  padding-bottom: 15px;
}
.sidebar-options .main-functionalities li img{
  width: 20px;
  vertical-align: middle;
}
.sidebar-options .main-functionalities li a  {
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-left:1px;
}

.sidebar-playlist {
  min-height: 400px;
  overflow-y: auto;
}
.sidebar-playlist h3{
  font-size:15px;
}
.sidebar-playlist .playlist li {
  font-size: 10px;
  list-style-type: none;
  padding-bottom: 15px;
}

.sidebar-playlist img.crea{
  width: 30px;
  vertical-align: middle;

}

.sidebar-playlist .playlist li a  {
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-music{
  width:100%;
  height: 80px;
}
.sidebar-music img{
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.sidebar-music  a{
  color:white;
  text-decoration: none;
}
.sidebar-music i.fa{
  color:white;
}
.sidebar-music-line{
  border: 1px solid white;
}
.container {
  width: 80%;
  height:100%;
  overflow-y: auto;
  background-color: grey;
}

header {
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: flex-end;
}

.upgrade {
  width: 80%;
  height:100px;
  float:right;
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.4;
  background color: rgba(0, 0, 0, 0.5);

}
.container .upgrade button{
  font-size: 15px;
  padding:10px;
  border: 3px solid #ffffff;
  border-radius: 50px ;
  background-color: transparent;
  position: absolute;
  right:  20px;
  top: 25px;
  z-index: 1;
  cursor: pointer;
}

.bl-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl-navbar ul{
  list-style-type: none;
  cursor: pointer;
}
.bl-navbar ul li:hover{
  content:"";
  border-bottom: 2px solid lightgreen;

}



main.album{
  height: 1000px;
}
footer {
  width: 100%;
  height:90px;
  display: flex;
  justify-content:space-around;

}

footer div.store,
footer div.volume {
  height: 100%;
  width:33%;
  display: flex;
  align-items: center;
}

div.store .cover-album img{
  height: 50px;
}
div.store .title h3 {
  font-size: 16px;
}
div.store .title h4 {
  font-size: 12px;
}

footer div.line-time {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div.line-time .line-time-control i.fa.fa-play-circle-o {
  font-size: 25px;
  vertical-align: middle;
}

.line-player {
  content:"";
  height: 4px;
  width: 200px;
  background:#ffffff;
  position: relative;
  bottom: 5px;
  margin: 0 40px;
  border-radius: 10px;
  vertical-align: 4px;
}

footer div.volume {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
